myrpki.rototill/myrpki.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
  $Id: myrpki.rnc 3055 2010-03-09 22:52:27Z sra $
  
  RelaxNG Schema for MyRPKI XML messages
  
  libxml2 (including xmllint) only groks the XML syntax of RelaxNG, so
  run the compact syntax through trang to get XML syntax.
-->
<grammar ns="http://www.hactrn.net/uris/rpki/myrpki/" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <define name="version">
    <value>2</value>
  </define>
  <define name="base64">
    <data type="base64Binary">
      <param name="maxLength">512000</param>
    </data>
  </define>
  <define name="object_handle">
    <data type="string">
      <param name="maxLength">255</param>
      <param name="pattern">[\-_A-Za-z0-9]*</param>
    </data>
  </define>
  <define name="pubd_handle">
    <data type="string">
      <param name="maxLength">255</param>
      <param name="pattern">[\-_A-Za-z0-9/]*</param>
    </data>
  </define>
  <define name="uri">
    <data type="anyURI">
      <param name="maxLength">4096</param>
    </data>
  </define>
  <define name="asn_list">
    <data type="string">
      <param name="maxLength">512000</param>
      <param name="pattern">[\-,0-9]*</param>
    </data>
  </define>
  <define name="ipv4_list">
    <data type="string">
      <param name="maxLength">512000</param>
      <param name="pattern">[\-,0-9/.]*</param>
    </data>
  </define>
  <define name="ipv6_list">
    <data type="string">
      <param name="maxLength">512000</param>
      <param name="pattern">[\-,0-9/:a-fA-F]*</param>
    </data>
  </define>
  <start combine="choice">
    <ref name="myrpki_pdu"/>
  </start>
  <start combine="choice">
    <ref name="identity_pdu"/>
  </start>
  <start combine="choice">
    <ref name="parent_pdu"/>
  </start>
  <start combine="choice">
    <ref name="repository_pdu"/>
  </start>
  <define name="myrpki_pdu">
    <element name="myrpki">
      <attribute name="version">
        <ref name="version"/>
      </attribute>
      <attribute name="handle">
        <ref name="object_handle"/>
      </attribute>
      <optional>
        <attribute name="service_uri">
          <ref name="uri"/>
        </attribute>
      </optional>
      <zeroOrMore>
        <element name="roa_request">
          <attribute name="asn">
            <data type="positiveInteger"/>
          </attribute>
          <attribute name="v4">
            <ref name="ipv4_list"/>
          </attribute>
          <attribute name="v6">
            <ref name="ipv6_list"/>
          </attribute>
        </element>
      </zeroOrMore>
      <zeroOrMore>
        <element name="child">
          <attribute name="handle">
            <ref name="object_handle"/>
          </attribute>
          <attribute name="valid_until">
            <data type="dateTime">
              <param name="pattern">.*Z</param>
            </data>
          </attribute>
          <optional>
            <attribute name="asns">
              <ref name="asn_list"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="v4">
              <ref name="ipv4_list"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="v6">
              <ref name="ipv6_list"/>
            </attribute>
          </optional>
          <optional>
            <element name="bpki_certificate">
              <ref name="base64"/>
            </element>
          </optional>
        </element>
      </zeroOrMore>
      <zeroOrMore>
        <element name="parent">
          <attribute name="handle">
            <ref name="object_handle"/>
          </attribute>
          <optional>
            <attribute name="service_uri">
              <ref name="uri"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="myhandle">
              <ref name="object_handle"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="sia_base">
              <ref name="uri"/>
            </attribute>
          </optional>
          <optional>
            <element name="bpki_cms_certificate">
              <ref name="base64"/>
            </element>
          </optional>
          <optional>
            <element name="bpki_https_certificate">
              <ref name="base64"/>
            </element>
          </optional>
        </element>
      </zeroOrMore>
      <zeroOrMore>
        <element name="repository">
          <attribute name="handle">
            <ref name="object_handle"/>
          </attribute>
          <optional>
            <attribute name="service_uri">
              <ref name="uri"/>
            </attribute>
          </optional>
          <optional>
            <element name="bpki_certificate">
              <ref name="base64"/>
            </element>
          </optional>
        </element>
      </zeroOrMore>
      <optional>
        <element name="bpki_ca_certificate">
          <ref name="base64"/>
        </element>
      </optional>
      <optional>
        <element name="bpki_crl">
          <ref name="base64"/>
        </element>
      </optional>
      <optional>
        <element name="bpki_bsc_certificate">
          <ref name="base64"/>
        </element>
      </optional>
      <optional>
        <element name="bpki_bsc_pkcs10">
          <ref name="base64"/>
        </element>
      </optional>
      <optional>
        <element name="bpki_server_ta">
          <ref name="base64"/>
        </element>
      </optional>
    </element>
  </define>
  <define name="identity_pdu">
    <element name="identity">
      <attribute name="version">
        <ref name="version"/>
      </attribute>
      <attribute name="handle">
        <ref name="object_handle"/>
      </attribute>
      <element name="bpki_ta">
        <ref name="base64"/>
      </element>
    </element>
  </define>
  <define name="parent_pdu">
    <element name="parent">
      <attribute name="version">
        <ref name="version"/>
      </attribute>
      <attribute name="valid_until">
        <data type="dateTime">
          <param name="pattern">.*Z</param>
        </data>
      </attribute>
      <optional>
        <attribute name="service_uri">
          <ref name="uri"/>
        </attribute>
      </optional>
      <attribute name="child_handle">
        <ref name="object_handle"/>
      </attribute>
      <attribute name="parent_handle">
        <ref name="object_handle"/>
      </attribute>
      <optional>
        <element name="bpki_resource_ta">
          <ref name="base64"/>
        </element>
      </optional>
      <optional>
        <element name="bpki_server_ta">
          <ref name="base64"/>
        </element>
      </optional>
      <optional>
        <element name="bpki_child_ta">
          <ref name="base64"/>
        </element>
      </optional>
      <optional>
        <element name="repository">
          <choice>
            <attribute name="type">
              <value>offer</value>
            </attribute>
            <group>
              <attribute name="type">
                <value>hint</value>
              </attribute>
              <attribute name="proposed_sia_base">
                <ref name="uri"/>
              </attribute>
              <element name="contact_info">
                <data type="string"/>
              </element>
            </group>
          </choice>
        </element>
      </optional>
    </element>
  </define>
  <define name="repository_pdu" combine="choice">
    <element name="repository">
      <attribute name="version">
        <ref name="version"/>
      </attribute>
      <attribute name="type">
        <value>confirmed</value>
      </attribute>
      <attribute name="parent_handle">
        <ref name="object_handle"/>
      </attribute>
      <attribute name="client_handle">
        <ref name="pubd_handle"/>
      </attribute>
      <attribute name="service_uri">
        <ref name="uri"/>
      </attribute>
      <attribute name="sia_base">
        <ref name="uri"/>
      </attribute>
      <attribute name="repository_handle">
        <ref name="object_handle"/>
      </attribute>
      <optional>
        <element name="bpki_server_ta">
          <ref name="base64"/>
        </element>
      </optional>
      <optional>
        <element name="bpki_client_ta">
          <ref name="base64"/>
        </element>
      </optional>
      <optional>
        <element name="contact_info">
          <data type="string"/>
        </element>
      </optional>
    </element>
  </define>
  <define name="repository_pdu" combine="choice">
    <element name="repository">
      <attribute name="version">
        <ref name="version"/>
      </attribute>
      <attribute name="type">
        <value>request</value>
      </attribute>
      <attribute name="handle">
        <ref name="pubd_handle"/>
      </attribute>
      <attribute name="parent_handle">
        <ref name="object_handle"/>
      </attribute>
      <optional>
        <element name="contact_info">
          <data type="string"/>
        </element>
      </optional>
      <optional>
        <element name="bpki_ta">
          <ref name="base64"/>
        </element>
      </optional>
    </element>
  </define>
  <define name="repository_pdu" combine="choice">
    <element name="repository">
      <attribute name="version">
        <ref name="version"/>
      </attribute>
      <attribute name="type">
        <value>offer</value>
      </attribute>
      <attribute name="handle">
        <ref name="pubd_handle"/>
      </attribute>
      <attribute name="parent_handle">
        <ref name="object_handle"/>
      </attribute>
      <optional>
        <element name="bpki_ta">
          <ref name="base64"/>
        </element>
      </optional>
    </element>
  </define>
  <define name="repository_pdu" combine="choice">
    <element name="repository">
      <attribute name="version">
        <ref name="version"/>
      </attribute>
      <attribute name="type">
        <value>hint</value>
      </attribute>
      <attribute name="handle">
        <ref name="pubd_handle"/>
      </attribute>
      <attribute name="parent_handle">
        <ref name="object_handle"/>
      </attribute>
      <attribute name="proposed_sia_base">
        <ref name="uri"/>
      </attribute>
      <optional>
        <element name="contact_info">
          <data type="string"/>
        </element>
      </optional>
      <optional>
        <element name="bpki_ta">
          <ref name="base64"/>
        </element>
      </optional>
    </element>
  </define>
</grammar>
<!--
  Local Variables:
  indent-tabs-mode: nil
  End:
-->
