scripts/up-down-tighter-schema.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
  $Id$
  Automatically generated from up-down-tighter-schema.pl
-->
<grammar ns="http://www.apnic.net/specs/rescerts/up-down/" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="message">
      <attribute name="version">
        <data type="positiveInteger">
          <param name="maxInclusive">1</param>
        </data>
      </attribute>
      <attribute name="sender">
        <data type="token">
          <param name="maxLength">1024</param>
        </data>
      </attribute>
      <attribute name="recipient">
        <data type="token">
          <param name="maxLength">1024</param>
        </data>
      </attribute>
      <attribute name="msg_ref">
        <data type="positiveInteger">
          <param name="maxInclusive">999999999999999</param>
        </data>
      </attribute>
      <ref name="payload"/>
    </element>
  </start>
  <define name="payload" combine="choice">
    <attribute name="type">
      <value>list</value>
    </attribute>
    <ref name="list_request"/>
  </define>
  <define name="payload" combine="choice">
    <attribute name="type">
      <value>list_response</value>
    </attribute>
    <ref name="list_response"/>
  </define>
  <define name="payload" combine="choice">
    <attribute name="type">
      <value>issue</value>
    </attribute>
    <ref name="issue_request"/>
  </define>
  <define name="payload" combine="choice">
    <attribute name="type">
      <value>issue_response</value>
    </attribute>
    <ref name="issue_response"/>
  </define>
  <define name="payload" combine="choice">
    <attribute name="type">
      <value>revoke</value>
    </attribute>
    <ref name="revoke_request"/>
  </define>
  <define name="payload" combine="choice">
    <attribute name="type">
      <value>revoke_response</value>
    </attribute>
    <ref name="revoke_response"/>
  </define>
  <define name="payload" combine="choice">
    <attribute name="type">
      <value>error_response</value>
    </attribute>
    <ref name="error_response"/>
  </define>
  <define name="list_request">
    <empty/>
  </define>
  <define name="list_response">
    <zeroOrMore>
      <ref name="class"/>
    </zeroOrMore>
  </define>
  <define name="class">
    <element name="class">
      <attribute name="class_name">
        <data type="token">
          <param name="maxLength">1024</param>
        </data>
      </attribute>
      <attribute name="cert_url">
        <data type="anyURI">
          <param name="maxLength">1024</param>
        </data>
      </attribute>
      <attribute name="cert_ski">
        <data type="token">
          <param name="maxLength">1024</param>
        </data>
      </attribute>
      <attribute name="resource_set_as">
        <data type="string">
          <param name="maxLength">512000</param>
          <param name="pattern">(([0-9]+|[0-9]+-[0-9]+)(,([0-9]+|[0-9]+-[0-9]+))*)?</param>
        </data>
      </attribute>
      <attribute name="resource_set_ipv4">
        <data type="string">
          <param name="maxLength">512000</param>
          <param name="pattern">((((([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])/([0-9]|[12][0-9]|3[0-2]))|(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])-(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5]))(,(((([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])/([0-9]|[12][0-9]|3[0-2]))|(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])-(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])))*)?</param>
        </data>
      </attribute>
      <attribute name="resource_set_ipv6">
        <data type="string">
          <param name="maxLength">512000</param>
          <param name="pattern">(((::|((0|[1-9a-fA-F][0-9a-fA-F]{0,3}):){0,7}(:|(0|[1-9a-fA-F][0-9a-fA-F]{0,3})))-(::|((0|[1-9a-fA-F][0-9a-fA-F]{0,3}):){0,7}(:|(0|[1-9a-fA-F][0-9a-fA-F]{0,3})))|((::|((0|[1-9a-fA-F][0-9a-fA-F]{0,3}):){0,7}(:|(0|[1-9a-fA-F][0-9a-fA-F]{0,3})))/([0-9]|[1-9][0-9]|1[0-1][0-9]|12[0-8])))(,((::|((0|[1-9a-fA-F][0-9a-fA-F]{0,3}):){0,7}(:|(0|[1-9a-fA-F][0-9a-fA-F]{0,3})))-(::|((0|[1-9a-fA-F][0-9a-fA-F]{0,3}):){0,7}(:|(0|[1-9a-fA-F][0-9a-fA-F]{0,3})))|((::|((0|[1-9a-fA-F][0-9a-fA-F]{0,3}):){0,7}(:|(0|[1-9a-fA-F][0-9a-fA-F]{0,3})))/([0-9]|[1-9][0-9]|1[0-1][0-9]|12[0-8]))))*)?</param>
        </data>
      </attribute>
      <optional>
        <attribute name="suggested_sia_head">
          <data type="anyURI">
            <param name="maxLength">1024</param>
          </data>
        </attribute>
      </optional>
      <zeroOrMore>
        <element name="certificate">
          <attribute name="cert_url">
            <data type="anyURI">
              <param name="maxLength">1024</param>
            </data>
          </attribute>
          <attribute name="cert_ski">
            <data type="token">
              <param name="maxLength">1024</param>
            </data>
          </attribute>
          <attribute name="cert_aki">
            <data type="token">
              <param name="maxLength">1024</param>
            </data>
          </attribute>
          <attribute name="cert_serial">
            <data type="positiveInteger"/>
          </attribute>
          <attribute name="resource_set_as">
            <data type="string">
              <param name="maxLength">512000</param>
              <param name="pattern">(([0-9]+|[0-9]+-[0-9]+)(,([0-9]+|[0-9]+-[0-9]+))*)?</param>
            </data>
          </attribute>
          <attribute name="resource_set_ipv4">
            <data type="string">
              <param name="maxLength">512000</param>
              <param name="pattern">((((([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])/([0-9]|[12][0-9]|3[0-2]))|(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])-(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5]))(,(((([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])/([0-9]|[12][0-9]|3[0-2]))|(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])-(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])))*)?</param>
            </data>
          </attribute>
          <attribute name="resource_set_ipv6">
            <data type="string">
              <param name="maxLength">512000</param>
              <param name="pattern">(((::|((0|[1-9a-fA-F][0-9a-fA-F]{0,3}):){0,7}(:|(0|[1-9a-fA-F][0-9a-fA-F]{0,3})))-(::|((0|[1-9a-fA-F][0-9a-fA-F]{0,3}):){0,7}(:|(0|[1-9a-fA-F][0-9a-fA-F]{0,3})))|((::|((0|[1-9a-fA-F][0-9a-fA-F]{0,3}):){0,7}(:|(0|[1-9a-fA-F][0-9a-fA-F]{0,3})))/([0-9]|[1-9][0-9]|1[0-1][0-9]|12[0-8])))(,((::|((0|[1-9a-fA-F][0-9a-fA-F]{0,3}):){0,7}(:|(0|[1-9a-fA-F][0-9a-fA-F]{0,3})))-(::|((0|[1-9a-fA-F][0-9a-fA-F]{0,3}):){0,7}(:|(0|[1-9a-fA-F][0-9a-fA-F]{0,3})))|((::|((0|[1-9a-fA-F][0-9a-fA-F]{0,3}):){0,7}(:|(0|[1-9a-fA-F][0-9a-fA-F]{0,3})))/([0-9]|[1-9][0-9]|1[0-1][0-9]|12[0-8]))))*)?</param>
            </data>
          </attribute>
          <optional>
            <attribute name="req_resource_set_as">
              <data type="string">
                <param name="maxLength">512000</param>
                <param name="pattern">(([0-9]+|[0-9]+-[0-9]+)(,([0-9]+|[0-9]+-[0-9]+))*)?</param>
              </data>
            </attribute>
          </optional>
          <optional>
            <attribute name="req_resource_set_ipv4">
              <data type="string">
                <param name="maxLength">512000</param>
                <param name="pattern">((((([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])/([0-9]|[12][0-9]|3[0-2]))|(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])-(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5]))(,(((([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])/([0-9]|[12][0-9]|3[0-2]))|(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])-(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])))*)?</param>
              </data>
            </attribute>
          </optional>
          <optional>
            <attribute name="req_resource_set_ipv6">
              <data type="string">
                <param name="maxLength">512000</param>
                <param name="pattern">(((::|((0|[1-9a-fA-F][0-9a-fA-F]{0,3}):){0,7}(:|(0|[1-9a-fA-F][0-9a-fA-F]{0,3})))-(::|((0|[1-9a-fA-F][0-9a-fA-F]{0,3}):){0,7}(:|(0|[1-9a-fA-F][0-9a-fA-F]{0,3})))|((::|((0|[1-9a-fA-F][0-9a-fA-F]{0,3}):){0,7}(:|(0|[1-9a-fA-F][0-9a-fA-F]{0,3})))/([0-9]|[1-9][0-9]|1[0-1][0-9]|12[0-8])))(,((::|((0|[1-9a-fA-F][0-9a-fA-F]{0,3}):){0,7}(:|(0|[1-9a-fA-F][0-9a-fA-F]{0,3})))-(::|((0|[1-9a-fA-F][0-9a-fA-F]{0,3}):){0,7}(:|(0|[1-9a-fA-F][0-9a-fA-F]{0,3})))|((::|((0|[1-9a-fA-F][0-9a-fA-F]{0,3}):){0,7}(:|(0|[1-9a-fA-F][0-9a-fA-F]{0,3})))/([0-9]|[1-9][0-9]|1[0-1][0-9]|12[0-8]))))*)?</param>
              </data>
            </attribute>
          </optional>
          <attribute name="status">
            <choice>
              <value>undersize</value>
              <value>match</value>
              <value>oversize</value>
            </choice>
          </attribute>
          <data type="base64Binary">
            <param name="maxLength">512000</param>
          </data>
        </element>
      </zeroOrMore>
      <element name="issuer">
        <data type="base64Binary">
          <param name="maxLength">512000</param>
        </data>
      </element>
    </element>
  </define>
  <define name="issue_request">
    <element name="request">
      <attribute name="class_name">
        <data type="token">
          <param name="maxLength">1024</param>
        </data>
      </attribute>
      <optional>
        <attribute name="req_resource_set_as">
          <data type="string">
            <param name="maxLength">512000</param>
            <param name="pattern">(([0-9]+|[0-9]+-[0-9]+)(,([0-9]+|[0-9]+-[0-9]+))*)?</param>
          </data>
        </attribute>
      </optional>
      <optional>
        <attribute name="req_resource_set_ipv4">
          <data type="string">
            <param name="maxLength">512000</param>
            <param name="pattern">((((([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])/([0-9]|[12][0-9]|3[0-2]))|(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])-(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5]))(,(((([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])/([0-9]|[12][0-9]|3[0-2]))|(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])-(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])))*)?</param>
          </data>
        </attribute>
      </optional>
      <optional>
        <attribute name="req_resource_set_ipv6">
          <data type="string">
            <param name="maxLength">512000</param>
            <param name="pattern">(((::|((0|[1-9a-fA-F][0-9a-fA-F]{0,3}):){0,7}(:|(0|[1-9a-fA-F][0-9a-fA-F]{0,3})))-(::|((0|[1-9a-fA-F][0-9a-fA-F]{0,3}):){0,7}(:|(0|[1-9a-fA-F][0-9a-fA-F]{0,3})))|((::|((0|[1-9a-fA-F][0-9a-fA-F]{0,3}):){0,7}(:|(0|[1-9a-fA-F][0-9a-fA-F]{0,3})))/([0-9]|[1-9][0-9]|1[0-1][0-9]|12[0-8])))(,((::|((0|[1-9a-fA-F][0-9a-fA-F]{0,3}):){0,7}(:|(0|[1-9a-fA-F][0-9a-fA-F]{0,3})))-(::|((0|[1-9a-fA-F][0-9a-fA-F]{0,3}):){0,7}(:|(0|[1-9a-fA-F][0-9a-fA-F]{0,3})))|((::|((0|[1-9a-fA-F][0-9a-fA-F]{0,3}):){0,7}(:|(0|[1-9a-fA-F][0-9a-fA-F]{0,3})))/([0-9]|[1-9][0-9]|1[0-1][0-9]|12[0-8]))))*)?</param>
          </data>
        </attribute>
      </optional>
      <data type="base64Binary">
        <param name="maxLength">512000</param>
      </data>
    </element>
  </define>
  <define name="issue_response">
    <ref name="class"/>
  </define>
  <define name="revoke_request">
    <ref name="revocation"/>
  </define>
  <define name="revoke_response">
    <ref name="revocation"/>
  </define>
  <define name="revocation">
    <element name="key">
      <attribute name="class_name">
        <data type="token">
          <param name="maxLength">1024</param>
        </data>
      </attribute>
      <attribute name="ski">
        <data type="token">
          <param name="maxLength">1024</param>
        </data>
      </attribute>
    </element>
  </define>
  <define name="error_response">
    <element name="status">
      <choice>
        <value>1101</value>
        <!-- Message too old -->
        <value>1102</value>
        <!-- msg_ref value is invalid -->
        <value>1103</value>
        <!-- out of order msg_ref value -->
        <value>1104</value>
        <!-- version number error -->
        <value>1105</value>
        <!-- unrecognised request type -->
        <value>1201</value>
        <!-- request - no such resource class -->
        <value>1202</value>
        <!-- request - no resources allocated in resource class -->
        <value>1203</value>
        <!-- request - badly formed certificate request -->
        <value>1301</value>
        <!-- revoke - no such resource class -->
        <value>1302</value>
        <!-- revoke - no such key -->
        <value>2001</value>
      </choice>
      <!-- Internal Server Error - Request not performed -->
    </element>
    <optional>
      <element name="last_msg_processed">
        <data type="positiveInteger">
          <param name="maxInclusive">999999999999999</param>
        </data>
      </element>
    </optional>
    <optional>
      <element name="description">
        <attribute name="xml:lang">
          <data type="language"/>
        </attribute>
        <data type="string">
          <param name="maxLength">1024</param>
        </data>
      </element>
    </optional>
  </define>
</grammar>
